[Desktop Entry]
Type=Application
Name=rsedit
Comment=A minimal, fast, cross-platform video editor
Exec=rsedit
Icon=rsedit
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;editor;cut;timeline;film;
StartupNotify=true